.grid-wrapper {
  display: grid;
  /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
  align-items: stretch;
  justify-items: stretch;
  align-content: center;
  justify-content: center;
  grid-auto-flow: column;
}

.grid-child {
  grid-area: auto;
}

.center-value {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bfbfbf;
  color: #3d3d3d;
}

.square {
  cursor: pointer;
}

.danger {
  color: red;
}

.success {
  color: green;
}

@media all and (orientation: portrait) {
  .top-grid {
    grid-gap: 1.5vw 1.5vw;
  }

  .sub-grid {
    grid-gap: 0.75vw 0.75vw;
  }

  .square {
    font-size: 4vw;
  }

  .possibility {
    font-size: 1.5vw;
  }
}

@media all and (orientation: landscape) {
  .top-grid {
    grid-gap: 1.5vh 1.5vh;
  }

  .sub-grid {
    grid-gap: 0.75vh 0.75vh;
  }

  .square {
    font-size: 4vh;
  }

  .possibility {
    font-size: 1.5vh;
  }
}
